body {
    background-color: black;
    color: white;
    font-family: sans-serif;
    padding: 2em;
}

.head, h4.head {
    margin-top: -1em;
}

h4 {
    color: grey;
}

a, code {
    color: #DD65E1;
}
